$mycolor: whitesmoke;
$myfont: montserrat; 
h1{
    color: $mycolor;
    font-family: $myfont;
}
dd{
    color: $mycolor; 
    font-family:$myfont ;
}
dt{
    color: $mycolor ; 
    font-family: $myfont ; 
}